body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(' https://source.unsplash.com/2560x1440/?wallpaper,landscape');
    background-size: cover;
    color: #ffffff;
}

.wrapper {
    border: #0d1829 solid 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    text-align: center;
    background-color: #242424;
    opacity: 85%;
    border-radius: 10px;
}

.header {
    font-size: 3em;
}

.button {
    background-color: #0d1829;
    color: #ffffff;
    width: 70px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px white solid;
}

.button:hover {
   transform: scale(1.2);
   transition-duration: 300ms;
}
